<!-- Copyright 2019 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/aws_page.css?version={{ g.version | urlencode }}">
{% endblock %}



{% block custom %}

    {% from "form_helper.html" import render_form %}
    {{ render_form(form, action=url_for('awsaws_aws_page_form'), id="aws_page_form") }}
{% endblock %}



{% block scripts %}
<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>



<script src="js/aws_page.js?version={{ g.version | urlencode }}"></script>
{% endblock %}
