<!-- Copyright 2020 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/add_mac_address_page.css?version={{ g.version | urlencode }}">
{% endblock %}

{% block title %}
{{ text['title'] }}
{% endblock %}

{% block heading %}
{{ text['title'] }}
{% endblock %}

{% block custom %}
    {% from "form_helper.html" import render_form %}
    {{ render_form(form, action=url_for('add_mac_addressadd_mac_address_add_mac_address_page_form'), id="add_mac_address_page_form") }}
{% endblock %}

{% block scripts %}
<script src="js/add_mac_address_page.js?version={{ g.version | urlencode }}"></script>
{% endblock %}
