<!-- Copyright 2019 BlueCat Networks. All rights reserved. -->

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BlueCat Gateway™ - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/bluecat-icon.png" />

        {% assets "css_main" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        <link rel="stylesheet" href="/css/user_css_{{ g.config.ui_theme + g.config.ui_customizations_file_hash }}.css?version={{ version | urlencode }}" />

        {% block css %}
        {% endblock %}

        {% assets "js_all", "js_util" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

    </head>
        <body>
        <div id="container">
        <nav class="navbar ">
            <div class="masthead container">
                <div class="header-info">
                {% if g.user %}
                    <h1>BlueCat Gateway™</h1>
                    {% if g.config.logo_file != None %}
                    <img class="customer-logo" src="/{{g.config.logo_file}}">
                    {% endif %}
                </div>
                <div class="user-menu">
                {% include "user-menu.html" %}
                {% endif %}
                </div>
            </div>
        </nav>


        <!---->
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 sidebar" id="main-menu-accordion">
                    <h1>Available Actions</h1>
                    <div class="list-group panel">
                    {% for option in g.ordered_list recursive %}
                        {% if option.type == 'ui' %}
                            {% if option.children %}
                                {% if loop.depth > 1 %}
                                    <a href="#item{{ loop.depth }}{{ option.unique_id }}-group" class="list-group-item level-{{ loop.depth }}" data-toggle="collapse" data-parent="#item{{ loop.depth - 1 }}{{ option.parent.unique_id }}-group">{{ option.title }}<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true" style="font-size: 10px; margin-left: 4px"></span></a>
                                {% else %}
                                    <a href="#item{{ loop.depth }}{{ option.unique_id }}-group" class="list-group-item level-{{ loop.depth }}" data-toggle="collapse" data-parent="#main-menu-accordion">{{ option.title }}<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true" style="font-size: 10px; margin-left: 4px"></span></a>

                                {% endif %}
                                <div class="collapse{% if g.categories and g.categories[loop.depth0] == option.title %} {{ 'in' }} {% endif %}" id="item{{ loop.depth }}{{ option.unique_id }}-group">
                                    <div class="list-group panel">
                                        {{ loop(option.children) }}
                                    </div>
                                </div>
                            {% else %}
                                <a href="/{{ option.endpoint }}" class="list-group-item level-{{ loop.depth }}{% if g.path == option.endpoint %} {{ 'active' }} {% endif %}">{{ option.title }}</a>
                            {% endif %}
                        <!--li><a href="/{{ option.endpoint }}">{{ option.description }}</a></li-->
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>

                <div class="main-content col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-9">
                    <div id="main-container" class="panel login small col-sm-6 col-md-7">
                    <h1>{% block heading %}{% endblock %}</h1>
                    <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'succeed' %}
                                    <div class="succeed">
                                        {{ message }} </br>
                                    </div>
                                {% elif category != 'filename' %}
                                    <div class="flash">
                                        {{ message }} </br>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>

                    {% block custom %}
                    {% endblock %}



                    </div>

                </div>
            </div>




            <div class ="footer row">
                <div class="copyright col-md-4">&copy; 2018 <a href="https://www.bluecatnetworks.com">BlueCat Networks</a>. All rights reserved.</div>
                <div class="version col-md-4 col-md-offset-4">v {{ g.version }}</div>
            </div>

        </div>
        </div>

        <script>$(document).foundation();</script>
        <script>var login_idle_timeout = {{ g.config.login_idle_timeout }};</script>
        {% assets "js_bluecat" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block scripts %}
        {% endblock %}

    </body>
</html>
