<!-- Copyright 2019 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/cache_example_page.css?version={{ g.version | urlencode }}">
{% endblock %}

{% block title %}
{{ text['title'] }}
{% endblock %}

{% block heading %}
{{ text['title'] }}
{% endblock %}

{% block custom %}

    <p>{{ text['info'] }}</p>
    <!--Your page's HTML goes here.-->
    {% from "form_helper.html" import render_form %}
    {{ render_form(form, action=url_for('cache_examplecache_example_cache_example_page_form'), id="cache_example_page_form") }}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    content = {{ ips|safe }}
</script>
<script src="js/cache_example_page.js?version={{ g.version | urlencode }}"></script>

{% endblock %}
