/* Copyright 2017 BlueCat Networks. All rights reserved. */

/* Custom styles for your page go in here. */
.combobox {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjYiIGhlaWdodD0iMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNiAzIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIvPjxnIGNsYXNzPSJjdXJyZW50TGF5ZXIiPjx0aXRsZT5MYXllciAxPC90aXRsZT48cG9seWdvbiBwb2ludHM9IjUuOTkyLDAgMi45OTIsMyAtMC4wMDgsMCAiIGlkPSJzdmdfMSIgY2xhc3M9IiIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1vcGFjaXR5PSIxIi8+PC9nPjwvc3ZnPg==);
    background-position: 98% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

ul.ui-autocomplete {
            max-height: 80px;
            width: 80px;
            overflow-y:scroll;

            font-weight:normal;
            font-style: normal;
            font-size: inherit;
            font-family: inherit;
            background-color: #B2BBC8;
            color: black;
            border-radius:4px;
            border:1px solid #AAAAAA;
}

.ui-helper-hidden-accessible { display:none; }

.ui-state-focus {
    color:White;
    background:#0266D0;
}