<!-- Copyright 2017 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block title %}
Configure Static Routes
{% endblock %}

{% block heading %}
BDDS Static Routes
{% endblock %}

{% block custom %}

    <div>

        Configuration:
        <select id="configuration">
            <option value="0">Please Select</option>
            {% for configuration in configurations %}
                <option value="{{ configuration[0] }}">{{ configuration[1] }}</option>
            {% endfor %}
        </select>
        <br/>
        <br/>

        Server:
        <select disabled id="server">
        </select>
        <br/>
        <br/>

        Static Routes:
        <table id="routes"></table>

        <input id="add" type="button" value="Add">
        <input id="delete" type="button" value="Delete">

        <table id="new-route">
        <tr>
            <td><input id="network-input" placeholder="Network" type="text"/></td>
            <td><input id="mask-input" placeholder="Mask" type="text"/></td>
            <td><input id="via-input" placeholder="Via Address" type="text"/></td>
        </tr>
        </table>

        <input id="save" type="button" value="Update Server" class="btn-primary">
        <div class="flash" id="error"></div>
        <div id="result"></div>
        <br/>
        <br/>
    </div>

{% endblock %}

{% block scripts %}
<script src="/configure_bdds_routes/js/configure-routes.js"></script>
{% endblock %}
