/* Copyright 2020 BlueCat Networks. All rights reserved. */
dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dd #import_devices_checkbox {
    float: left;
    width: 5%;
    padding: 0;
    margin: 8px 0;
}

label[for=import_devices_checkbox] {
    float: left;
    display: block;
    width: 25%;
    padding: 0;
    margin: 0
}

label[for=configuration] {
    float: left;
    display: block;
    width: 0%;
    padding: 0;
    margin: 0
}

dd #configuration {
    float: left;
    width: 45%;
    padding: 0;
    margin: 0 15px;
}

dd #import_fabric {
    float: left;
    width: 18%;
    padding: 0;
    margin: 0 0 0 2%;
    height: 34px
}

#overlay {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

#modal {
  position:absolute;
  padding:8px;
}

#content {
  height: 100%;
  display: block;
}

#tenants {
    border:1px solid white;
    padding:20px;
    width: 100%;
    overflow: auto;
    height: 75%;
    background:rgba(0,0,0,0.8);
}

#exit {
    float: right;
    padding: 4px 10px;
    background:rgba(0,0,0,0.8);
}

#progress {
    border:1px solid white;
    width: 100%;
    height: 10%;
    background-color: grey;
}

#bar {
    width: 0%;
    height: 100%;
    background-color: rgba(0, 103, 162, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#done {
    height: 5%;
}

#done.error {
    color: red;
}

#discover_message_field {
    padding: 10px 20px;
    margin-left: 163px;

}

.empty {
    height: 5%;
}

#import_select_all {
    position: absolute;
    bottom: 10px;
    left: 18px;
}

th div {
    display: block;
    font-weight: bold;
    text-align: right;
}

table.dataTable thead th {
    padding: 10px 10px;
    position: relative;
}

#import_endpoint_devices_select_all {
    position: absolute;
    bottom: 10px;
    left: 18px;
}

#overwrite_select_all {
    position: absolute;
    bottom: 10px;
    left: 18px;
}

#check_all_button {
    margin: 8px 5px 20px;
    padding: 3px 10px;
    height: 34px;
}

#output_table_wrapper div.check_all_button {
    float: left;
}

li.success {
    color: green;
}

li.fail {
    color: red;
}

li.warning {
    color: orange;
}
