<!-- Copyright 2020 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/add_next_available_dual_stack_host_page.css?version={{ g.version | urlencode }}">
{% endblock %}

{% block title %}
{{ text['title'] }}
{% endblock %}

{% block heading %}
{{ text['title'] }}
{% endblock %}

{% block custom %}

    <p>{{ text['info'] }}</p>
    <!--Your page's HTML goes here.-->
    {% from "form_helper.html" import render_form %}
    {{ render_form(form, action=url_for('add_next_available_dual_stack_hostadd_next_available_dual_stack_host_add_next_available_dual_stack_host_page_form'), id="add_next_available_dual_stack_host_page_form") }}

{% endblock %}

{% block scripts %}
<script src="js/add_next_available_dual_stack_host_page.js?version={{ g.version | urlencode }}"></script>
{% endblock %}
