/* Copyright 2020 BlueCat Networks. All rights reserved. */
/* Custom styles for your page go in here. */
#add_mac_address_page_form {
    width: 120%;
}
/* Styling for flash messages */
.flash, .succeed {
    font-size: 14px;
    width: 120%;
}
/* Spacing underneth mac pool boolean */
label[for=mac_pool_boolean] {
    margin-bottom: 15px;
}
