/* Copyright 2020 BlueCat Networks. All rights reserved. */
/* Custom styles for your page go in here. */
#acl_inventory_page_form {
    width: 120%;
}
/* Styling for flash messages */
.flash, .succeed {
    font-size: 14px;
    width: 100%;
}
