/* Copyright 2017 BlueCat Networks. All rights reserved. */

/* Custom styles for your page go in here. */
.flex-container
{
    display: flex;
    flex-flow: row;
    margin-bottom: 16px;
    font: 14px Museo;
}

#network-input
{
    margin-right: 1em;
    font: 14px Museo;
}

#mask-input
{
    margin-left: 1em;
    font: 14px Museo;
}
#slash-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slash-container > span
{
    text-align: center;
}
