<!-- Copyright 2017 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/update_host_record_example_page.css?version={{ g.version | urlencode }}">
{% endblock %}

{% block title %}
{{ text['title'] }}
{% endblock %}

{% block heading %}
{{ text['title'] }}
{% endblock %}

{% block custom %}

    <p>{{ text['info'] }}</p>

    {% from "form_helper.html" import render_form %}
    {{ render_form(form,
    action=url_for('update_host_record_exampleupdate_host_record_example_update_host_record_example_page_form'),
    id="update_host_form") }}

{% endblock %}

{% block scripts %}
<script src="js/update_host_record_example_page.js?version={{ g.version | urlencode }}"></script>
{% endblock %}
