<!-- Copyright 2019 BlueCat Networks. All rights reserved. -->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/network_manager_page.css?version={{ g.version | urlencode }}">
{% endblock %}

{% block title %}
{{ text['title'] }}
{% endblock %}

{% block heading %}
{{ text['title'] }}
{% endblock %}

{% block custom %}

    <p>{{ text['info'] }}</p>
    <!--Your page's HTML goes here.-->
    {% from "form_helper.html" import render_form %}
    {{ render_form(form, action=url_for('network_managernetwork_manager_network_manager_page_form'), id="network_manager_page_form") }}

{% endblock %}

{% block scripts %}
<script src="js/network_manager_page.js?version={{ g.version | urlencode }}"></script>
{% endblock %}
